body {
    width: 100%; 
  }
  
     #nav-bar{
  
       max-width: 100%;
      margin-left: auto;
      margin-right: auto;
       margin-top: 40px;
       margin-bottom: 20px;
       max-width: 100%;
       display: flex;
       justify-content: space-between;
      }
      #nav-bar img{
        margin-left: 160px;
        width: 140px;
        float: left;
      }
      #nav-bar ul{
        width: 50%;
        list-style: none;
      }
      .nav-links{
        display: flex;
        float: right;
      }
      .nav-links li{
        float: right;
        width: 100px;
      }
  
  
  
      #header2{
        max-width: 100%;
        background-color: #008fe2; 
      }
      #nav-bar2{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
       margin-top: 30px;
       margin-bottom: 20px;
       max-width: 100%;
       display: flex;
       justify-content: space-between;
      }
      
      #header-div2{
        float: right;
      }
      
      #mini{
        width: 50%;
        list-style: none;
        display: inline-block;
       
      }
      #mini a{
        display: inline;
       float: right;
      }
      #mini span{
        display: inline;
       float: right;
      }
      #nav-bar2 ul{
        list-style: none;
      }
      .nav-link{
        display: flex;
        float: right;
      }
  
  
  
  
  .doctors {
    color: #fff;
    display: block; }
  
  .learn {
    color: #adc4c4; }
  
  .imp2 {
    padding-left: 17%;
   }
  .imp2 h1{
    padding-top: 65px;
   }
   #links{
    padding-left: 17%;
    font-family: sans-serif;
    font-size: 13;
   }
  
  .btn {
    padding-right: 2%; }
  
  .photo {
    display: inline; }
  .card{
    margin: 2%;
  }
  .card-title{
    color: #adc4c4;
  }
  #imp3{
    max-width: 100%;
    width: 100%;
    background-color: #434344;
    color: #fff;
    padding: 60px;
  }
  #footer{
    
    text-align: center;
  }
  
  h4{
  padding: 2%;
  }
  .con{
    display: inline;
  }
  
  
  .para{
    padding-left: 17%;
    font-family: sans-serif;
    font-size: 13;
    margin-top: 5px;
  }
  
  .pragraph1{
    color: grey;
    font-size: 20px;
  }
  .pragraph{
    color: gray;
  }
  .grid-container {
    display: block;
    padding-left: 233px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: left;
    padding-left: 4px;
    display: flex;
  }
  
  div.block{
    display: block;
    padding-left: 30px;
    font-size: 15px;
  }
  
  
  
  
  /* About As */
  .carousel-inner img{
    width: 300px;
    height: 170px;
  }
  #text{
    padding-left: 269px;
    padding-top: 3%;
    padding-right: 100px;
    /* display: inline; */
  
  }
  .slider{
    padding-left: 120px;
    padding-top: 7%;
    padding-right: 200px;
    
  }
  .color{
   color:rgb(21, 157, 248) ; 
   text-align: center;
   padding-top: 4px;
   font-size: 20px;
  }
   
  .bfooter{
    background-color: rgb(224, 220, 220);
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    
  }
  
  
  /* contact */
  #con{
    max-width: 100%;
    width: 100%;
    color: black;
    padding-left: 260px;
    margin-top: 3%;
    margin-bottom: 60px;
  }
  
  #itm input {
    width: 600px;
    padding: 5px;
    margin: 5px;
    border: rgb(189, 186, 186) solid 2px;
  }
  #itm textarea {
    width: 600px;
    margin-left: 5px;
    border: rgb(189, 186, 186) solid 2px;
  }
  
  /* view more */
  
  #views{
    margin: 30px 30px  50px 222px   ;
    
  }
  #Bring{
   color:rgb(175, 170, 170) ;
   margin-left: 5px;
  }